<h1> Palmer Penguin Data Analytics </h1>
<HR></HR>

Analyst: James Walter O. Imperial

In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

<p> Importing DATASET to jupyter </p>
<p> Converting DATASET to dataframe </p>
<ul><strong>Requirement:
    <li>name of the dataframes </li>
    <li>Source</li>

In [2]:
penguins = pd.read_csv("C:\\Users\\Acer\\OneDrive\\Desktop\\ELECT-303\\ELEC303-IMPERIAL(BSIT-3A)\\datasets\\penguins.csv")

In [3]:
penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

Descriptive Analytics

In [4]:
penguins.describe()

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,year
count,342.000000,342.000000,342.000000,342.000000,344.000000
mean,43.921930,17.151170,200.915205,4201.754386,2008.029070
std,5.459584,1.974793,14.061714,801.954536,0.818356
min,32.100000,13.100000,172.000000,2700.000000,2007.000000
25%,39.225000,15.600000,190.000000,3550.000000,2007.000000
50%,44.450000,17.300000,197.000000,4050.000000,2008.000000
75%,48.500000,18.700000,213.000000,4750.000000,2009.000000
max,59.600000,21.500000,231.000000,6300.000000,2009.000000

In [5]:
penguins.describe().T

,count,mean,std,min,25%,50%,75%,max
bill_length_mm,342.0,43.921930,5.459584,32.1,39.225,44.45,48.5,59.6
bill_depth_mm,342.0,17.151170,1.974793,13.1,15.600,17.30,18.7,21.5
flipper_length_mm,342.0,200.915205,14.061714,172.0,190.000,197.00,213.0,231.0
body_mass_g,342.0,4201.754386,801.954536,2700.0,3550.000,4050.00,4750.0,6300.0
year,344.0,2008.029070,0.818356,2007.0,2007.000,2008.00,2009.0,2009.0

Cleaning The Data Frame

In [6]:
penguins.isnull()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,True,True,True,True,True,False
4,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...
339,False,False,False,False,False,False,False,False
340,False,False,False,False,False,False,False,False
341,False,False,False,False,False,False,False,False
342,False,False,False,False,False,False,False,False
343,False,False,False,False,False,False,False,False

In [7]:
penguins['island']

0      Torgersen
1      Torgersen
2      Torgersen
3      Torgersen
4      Torgersen
         ...
339        Dream
340        Dream
341        Dream
342        Dream
343        Dream
Name: island, Length: 344, dtype: object

In [8]:
penguins['species']

0         Adelie
1         Adelie
2         Adelie
3         Adelie
4         Adelie
         ...
339    Chinstrap
340    Chinstrap
341    Chinstrap
342    Chinstrap
343    Chinstrap
Name: species, Length: 344, dtype: object

In [9]:
species_count_per_island_sex = penguins.groupby(['island', 'sex'])['species'].nunique()

In [10]:
island_with_most_species = species_count_per_island_sex.groupby('island').sum().idxmax()

In [11]:
penguins['species']  == 'dream'

0      False
1      False
2      False
3      False
4      False
       ...
339    False
340    False
341    False
342    False
343    False
Name: species, Length: 344, dtype: bool

In [12]:
penguins['species'] == "Chinstrap"

0      False
1      False
2      False
3      False
4      False
       ...
339     True
340     True
341     True
342     True
343     True
Name: species, Length: 344, dtype: bool

In [13]:
penguins[penguins['species'] == "Chinstrap"]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
276,Chinstrap,Dream,46.5,17.9,192.0,3500.0,female,2007
277,Chinstrap,Dream,50.0,19.5,196.0,3900.0,male,2007
278,Chinstrap,Dream,51.3,19.2,193.0,3650.0,male,2007
279,Chinstrap,Dream,45.4,18.7,188.0,3525.0,female,2007
280,Chinstrap,Dream,52.7,19.8,197.0,3725.0,male,2007
...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

In [14]:
chinstrap_df = penguins[penguins['species'] == "Chinstrap"]

In [15]:
chinstrap_df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
276,Chinstrap,Dream,46.5,17.9,192.0,3500.0,female,2007
277,Chinstrap,Dream,50.0,19.5,196.0,3900.0,male,2007
278,Chinstrap,Dream,51.3,19.2,193.0,3650.0,male,2007
279,Chinstrap,Dream,45.4,18.7,188.0,3525.0,female,2007
280,Chinstrap,Dream,52.7,19.8,197.0,3725.0,male,2007
...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

In [16]:
adelie_df = penguins[penguins['species'] == "Adelie"]

In [17]:
adelie_df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...
147,Adelie,Dream,36.6,18.4,184.0,3475.0,female,2009
148,Adelie,Dream,36.0,17.8,195.0,3450.0,female,2009
149,Adelie,Dream,37.8,18.1,193.0,3750.0,male,2009
150,Adelie,Dream,36.0,17.1,187.0,3700.0,female,2009
151,Adelie,Dream,41.5,18.5,201.0,4000.0,male,2009

In [18]:
gentoo_df = penguins[penguins['species'] == "Gentoo"]

In [19]:
gentoo_df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
152,Gentoo,Biscoe,46.1,13.2,211.0,4500.0,female,2007
153,Gentoo,Biscoe,50.0,16.3,230.0,5700.0,male,2007
154,Gentoo,Biscoe,48.7,14.1,210.0,4450.0,female,2007
155,Gentoo,Biscoe,50.0,15.2,218.0,5700.0,male,2007
156,Gentoo,Biscoe,47.6,14.5,215.0,5400.0,male,2007
...,...,...,...,...,...,...,...,...
271,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN,2009
272,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,female,2009
273,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,male,2009
274,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,female,2009
275,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,male,2009

In [20]:
penguins['species'].value_counts()

species
Adelie       152
Gentoo       124
Chinstrap     68
Name: count, dtype: int64

In [21]:
penguins['species'].unique()

array(['Adelie', 'Gentoo', 'Chinstrap'], dtype=object)

In [22]:
penguins['body_mass_g'] >= 4000

0      False
1      False
2      False
3      False
4      False
       ...
339     True
340    False
341    False
342     True
343    False
Name: body_mass_g, Length: 344, dtype: bool

In [23]:
penguins[penguins['body_mass_g'] >= 4000]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
7,Adelie,Torgersen,39.2,19.6,195.0,4675.0,male,2007
9,Adelie,Torgersen,42.0,20.2,190.0,4250.0,NaN,2007
14,Adelie,Torgersen,34.6,21.1,198.0,4400.0,male,2007
17,Adelie,Torgersen,42.5,20.7,197.0,4500.0,male,2007
19,Adelie,Torgersen,46.0,21.5,194.0,4200.0,male,2007
...,...,...,...,...,...,...,...,...
323,Chinstrap,Dream,49.0,19.6,212.0,4300.0,male,2009
329,Chinstrap,Dream,50.7,19.7,203.0,4050.0,male,2009
333,Chinstrap,Dream,49.3,19.9,203.0,4050.0,male,2009
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009

In [24]:
(penguins['species'] == "Chinstrap") & (penguins['body_mass_g'] >= 4000)

0      False
1      False
2      False
3      False
4      False
       ...
339     True
340    False
341    False
342     True
343    False
Length: 344, dtype: bool

In [25]:
penguins[(penguins['species'] == "Chinstrap") & (penguins['body_mass_g'] >= 4000)]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
284,Chinstrap,Dream,46.0,18.9,195.0,4150.0,female,2007
289,Chinstrap,Dream,52.0,18.1,201.0,4050.0,male,2007
291,Chinstrap,Dream,50.5,19.6,201.0,4050.0,male,2007
295,Chinstrap,Dream,49.2,18.2,195.0,4400.0,male,2007
301,Chinstrap,Dream,52.0,19.0,197.0,4150.0,male,2007
305,Chinstrap,Dream,52.8,20.0,205.0,4550.0,male,2008
307,Chinstrap,Dream,54.2,20.8,201.0,4300.0,male,2008
309,Chinstrap,Dream,51.0,18.8,203.0,4100.0,male,2008
313,Chinstrap,Dream,52.0,20.7,210.0,4800.0,male,2008
315,Chinstrap,Dream,53.5,19.9,205.0,4500.0,male,2008
321,Chinstrap,Dream,50.8,18.5,201.0,4450.0,male,2009
323,Chinstrap,Dream,49.0,19.6,212.0,4300.0,male,2009
329,Chinstrap,Dream,50.7,19.7,203.0,4050.0,male,2009
333,Chinstrap,Dream,49.3,19.9,203.0,4050.0,male,2009
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009

In [26]:
penguins[(penguins['species'] == "Chinstrap") & (penguins['body_mass_g'] >= 4000)].info()

<class 'pandas.core.frame.DataFrame'>
Index: 16 entries, 284 to 342
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            16 non-null     object
 1   island             16 non-null     object
 2   bill_length_mm     16 non-null     float64
 3   bill_depth_mm      16 non-null     float64
 4   flipper_length_mm  16 non-null     float64
 5   body_mass_g        16 non-null     float64
 6   sex                16 non-null     object
 7   year               16 non-null     int64
dtypes: float64(4), int64(1), object(3)
memory usage: 1.1+ KB

In [27]:
chinstrap_heavy = penguins[(penguins['species'] == "Chinstrap") & (penguins['body_mass_g'] >= 4000)]

In [28]:
chinstrap_heavy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16 entries, 284 to 342
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            16 non-null     object
 1   island             16 non-null     object
 2   bill_length_mm     16 non-null     float64
 3   bill_depth_mm      16 non-null     float64
 4   flipper_length_mm  16 non-null     float64
 5   body_mass_g        16 non-null     float64
 6   sex                16 non-null     object
 7   year               16 non-null     int64
dtypes: float64(4), int64(1), object(3)
memory usage: 1.1+ KB

<h1> HOW TO FILLUP NULL VALUES </h2>

In [29]:
penguins.isnull().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [30]:
penguins['bill_length_mm']

0      39.1
1      39.5
2      40.3
3       NaN
4      36.7
       ...
339    55.8
340    43.5
341    49.6
342    50.8
343    50.2
Name: bill_length_mm, Length: 344, dtype: float64

In [31]:
penguins['bill_length_mm'].mean()

np.float64(43.9219298245614)

In [32]:
penguins['bill_length_mm'].fillna(penguins['bill_length_mm'].mean())

0      39.10000
1      39.50000
2      40.30000
3      43.92193
4      36.70000
         ...
339    55.80000
340    43.50000
341    49.60000
342    50.80000
343    50.20000
Name: bill_length_mm, Length: 344, dtype: float64

In [33]:
penguins['bill_length_mm'] = penguins['bill_length_mm'].fillna(penguins['bill_length_mm'].mean())

In [34]:
penguins['bill_depth_mm'] = penguins['bill_depth_mm'].fillna(penguins['bill_depth_mm'].mean())
penguins['flipper_length_mm'] = penguins['flipper_length_mm'].fillna(penguins['flipper_length_mm'].mean())
penguins['body_mass_g'] = penguins['body_mass_g'].fillna(penguins['body_mass_g'].mean())

In [35]:
penguins.isnull().sum()

species               0
island                0
bill_length_mm        0
bill_depth_mm         0
flipper_length_mm     0
body_mass_g           0
sex                  11
year                  0
dtype: int64

In [36]:
penguins['sex']

0        male
1      female
2      female
3         NaN
4      female
        ...
339      male
340    female
341      male
342      male
343    female
Name: sex, Length: 344, dtype: object

In [37]:
penguins['sex'] = penguins['sex']

In [38]:
penguins['sex'] = penguins['sex'].fillna(penguins['sex'].mode())

In [39]:
penguins.isnull().sum()

species               0
island                0
bill_length_mm        0
bill_depth_mm         0
flipper_length_mm     0
body_mass_g           0
sex                  11
year                  0
dtype: int64

<h1> How to Change the Data type of a column </h1>

In [40]:
penguins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     344 non-null    float64
 3   bill_depth_mm      344 non-null    float64
 4   flipper_length_mm  344 non-null    float64
 5   body_mass_g        344 non-null    float64
 6   sex                333 non-null    object
 7   year               344 non-null    int64
dtypes: float64(4), int64(1), object(3)
memory usage: 21.6+ KB

In [41]:
penguins['species'] = penguins['species'].astype('category')
penguins['year'] = penguins['species'].astype('category')

In [42]:
penguins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    category
 1   island             344 non-null    object
 2   bill_length_mm     344 non-null    float64
 3   bill_depth_mm      344 non-null    float64
 4   flipper_length_mm  344 non-null    float64
 5   body_mass_g        344 non-null    float64
 6   sex                333 non-null    object
 7   year               344 non-null    category
dtypes: category(2), float64(4), object(2)
memory usage: 17.2+ KB

In [43]:
penguins.describe()

       bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
count      344.000000     344.000000         344.000000   344.000000
mean        43.921930      17.151170         200.915205  4201.754386
std          5.443643       1.969027          14.020657   799.613058
min         32.100000      13.100000         172.000000  2700.000000
25%         39.275000      15.600000         190.000000  3550.000000
50%         44.250000      17.300000         197.000000  4050.000000
75%         48.500000      18.700000         213.000000  4750.000000
max         59.600000      21.500000         231.000000  6300.000000

<H2>How to Create a Column </H2>

In [44]:
penguins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    category
 1   island             344 non-null    object
 2   bill_length_mm     344 non-null    float64
 3   bill_depth_mm      344 non-null    float64
 4   flipper_length_mm  344 non-null    float64
 5   body_mass_g        344 non-null    float64
 6   sex                333 non-null    object
 7   year               344 non-null    category
dtypes: category(2), float64(4), object(2)
memory usage: 17.2+ KB

In [45]:
penguins.columns

Index(['species', 'island', 'bill_length_mm', 'bill_depth_mm',
       'flipper_length_mm', 'body_mass_g', 'sex', 'year'],
      dtype='object')

In [46]:
penguins['mass_kg'] = np.round(penguins['body_mass_g'] / 1000,1)

In [47]:
penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,mass_kg
0,Adelie,Torgersen,39.10000,18.70000,181.000000,3750.000000,male,Adelie,3.8
1,Adelie,Torgersen,39.50000,17.40000,186.000000,3800.000000,female,Adelie,3.8
2,Adelie,Torgersen,40.30000,18.00000,195.000000,3250.000000,female,Adelie,3.2
3,Adelie,Torgersen,43.92193,17.15117,200.915205,4201.754386,NaN,Adelie,4.2
4,Adelie,Torgersen,36.70000,19.30000,193.000000,3450.000000,female,Adelie,3.4
...,...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.80000,19.80000,207.000000,4000.000000,male,Chinstrap,4.0
340,Chinstrap,Dream,43.50000,18.10000,202.000000,3400.000000,female,Chinstrap,3.4
341,Chinstrap,Dream,49.60000,18.20000,193.000000,3775.000000,male,Chinstrap,3.8
342,Chinstrap,Dream,50.80000,19.00000,210.000000,4100.000000,male,Chinstrap,4.1
343,Chinstrap,Dream,50.20000,18.70000,198.000000,3775.000000,female,Chinstrap,3.8

<H1> Exploratory Data Analytics (EDA) </H2>

<h1> 1. Which species has the longest bill length in mm? </h1>

In [48]:
chinstrap_df['bill_length_mm'].mean()

np.float64(48.83382352941177)

In [49]:
adelie_df = penguins[penguins['species'] == 'Adelie']

In [50]:
adelie_df['bill_length_mm'].mean()

np.float64(38.82514427516159)

In [51]:
gentoo_df = penguins[penguins['species'] == 'Gentoo']

In [52]:
gentoo_df['bill_length_mm'].mean()

np.float64(47.475983305036785)

<h2> Insight#1</h2>
<H3> The longest species from the dataset is the CHINSTRAP species </H3>

<h1> 2. Which island has the most species in body mass? </h1>

In [53]:
chinstrap_df['body_mass_g'].mean()

np.float64(3733.0882352941176)

In [54]:
adelie_df = penguins[penguins['species'] == 'Adelie']

In [55]:
adelie_df['body_mass_g'].mean()

np.float64(3703.95891043398)

In [56]:
gentoo_df = penguins[penguins['species'] == 'Gentoo']

In [57]:
gentoo_df['body_mass_g'].mean()

np.float64(5068.965761177136)

<h3>Insight#2</h3>

<h3> The island has the most species in body mass is the GENTOO species </h3>

<h1> 3. Which species has the deepest average bill?</h1>

In [58]:
penguins.groupby('species')['bill_depth_mm'].mean()

species
Adelie       18.338495
Chinstrap    18.420588
Gentoo       14.999606
Name: bill_depth_mm, dtype: float64

<h3> The species has the deepiest average bill is the CHINSTRAP species </h3>

<h3>Insight#3</h3>

<h1> 4. Do male penguins weigh more than female penguins on average? </h1>

In [59]:
penguins.groupby('sex')['body_mass_g'].mean()

sex
female    3862.272727
male      4545.684524
Name: body_mass_g, dtype: float64

<h3>Insight#4</h3>

<h3> The male penguin's average body mass by sex is higher than the female penguin's average body mass </h3>

<h1> 5. Is there a correlation between flipper length and body mass? </h1>

In [60]:
penguins['flipper_length_mm'].corr(penguins['body_mass_g'])

np.float64(0.8712017673060114)

<h3>Insight#5</h3>

<h3> There is a strong positive correlation between flipper length and body mass. This means heavier penguins tend to have longer flippers.</h3>

<h1> 6. Which species has the longest average flipper length? </h1>

In [61]:
penguins.groupby('species')['flipper_length_mm'].mean()

species
Adelie       190.025758
Chinstrap    195.823529
Gentoo       217.055768
Name: flipper_length_mm, dtype: float64

<h3>Insight#6</h3>

<h3> The species with the longest average flipper length is the GENTOO species</h3>

<h1> 7. Which island has the highest average body mass in kilograms? </h1>

In [62]:
penguins.groupby('island')['mass_kg'].mean()

island
Biscoe       4.714881
Dream        3.712903
Torgersen    3.711538
Name: mass_kg, dtype: float64

<h3>Insight#7</h3>

<h3> The island with the highest average body mass in kilograms is the BISCOE island</h3>

<h1> 8. Is there a correlation between bill depth and body mass? </h1>

In [63]:
penguins['bill_depth_mm'].corr(penguins['body_mass_g'])

np.float64(-0.4719156211860664)

<h3>Insights#8</h3>

<h3>There is a negative correlation between bill length and body mass. This means the longer the bill tend to have heavier body mass </h3>

<h1> 9. Is there a correlation between bill depth and flipper length? </h1>

In [64]:
penguins['bill_depth_mm'].corr(penguins['flipper_length_mm'])

np.float64(-0.5838512164654122)

<h3>Insight#9</h3>

<h3>There is a strong positive correlation between bill length and body mass. This means the longer the bill tends to have bigger body mass </h3>

<h1> 10. Which island has the most species in sex? </h1>

In [65]:
penguins.groupby('island')['sex',].agg(lambda x: x.mode().iloc[0])

              sex
island
Biscoe       male
Dream        male
Torgersen  female

<h3>Insight#10</h3>

<h3> The island with the most average in sex is BISCOE AND DREAM </h3>

<h1> 11. Which island has the least average in sex? </h1>

In [66]:
penguins.groupby('island')['sex'].agg(lambda x: x.mode().iloc[0])

island
Biscoe         male
Dream          male
Torgersen    female
Name: sex, dtype: object

<h3>Insight#11</h3>

<h3> The island with the least average in sex is TORGERSEN </h3>

<h1> 12. Which island hosted the most abundant penguin species each year? </h1>

In [88]:
penguins.groupby('island')['year'].agg(lambda x: x.mode().iloc[0])

island
Biscoe          Gentoo
Dream        Chinstrap
Torgersen       Adelie
Name: year, dtype: category
Categories (3, object): ['Adelie', 'Chinstrap', 'Gentoo']

<h3>Insight#12</h3>

<h3> The island that hosted the most abundant penguin species each year is BISCOE </h3>

<h1> Data Aggregation </h1>

<h2>ilan species per island ang nakatira ? </h2>

In [68]:
PerIsland = penguins.groupby(['species', 'island']).count()

In [69]:
PerIsland

                     bill_length_mm  bill_depth_mm  flipper_length_mm  \
species   island
Adelie    Biscoe                 44             44                 44
          Dream                  56             56                 56
          Torgersen              52             52                 52
Chinstrap Biscoe                  0              0                  0
          Dream                  68             68                 68
          Torgersen               0              0                  0
Gentoo    Biscoe                124            124                124
          Dream                   0              0                  0
          Torgersen               0              0                  0

                     body_mass_g  sex  year  mass_kg
species   island
Adelie    Biscoe              44   44    44       44
          Dream               56   55    56       56
          Torgersen           52   47    52       52
Chinstrap Biscoe               0    0     0        0
          Dream               68   68    68       68
          Torgersen            0    0     0        0
Gentoo    Biscoe             124  119   124      124
          Dream                0    0     0        0
          Torgersen            0    0     0        0

In [70]:
Perlsland = penguins.groupby(['species','island','sex','year']).size()

In [71]:
PerIsland

                     bill_length_mm  bill_depth_mm  flipper_length_mm  \
species   island
Adelie    Biscoe                 44             44                 44
          Dream                  56             56                 56
          Torgersen              52             52                 52
Chinstrap Biscoe                  0              0                  0
          Dream                  68             68                 68
          Torgersen               0              0                  0
Gentoo    Biscoe                124            124                124
          Dream                   0              0                  0
          Torgersen               0              0                  0

                     body_mass_g  sex  year  mass_kg
species   island
Adelie    Biscoe              44   44    44       44
          Dream               56   55    56       56
          Torgersen           52   47    52       52
Chinstrap Biscoe               0    0     0        0
          Dream               68   68    68       68
          Torgersen            0    0     0        0
Gentoo    Biscoe             124  119   124      124
          Dream                0    0     0        0
          Torgersen            0    0     0        0

<h3> Data Aggregation </h3>

<h3> The use of .groupby()</h3>

In [72]:
penguins_insights = penguins.groupby(['species','island','sex','year']).size()

In [73]:
penguins_insights

species    island     sex     year
Adelie     Biscoe     female  Adelie       22
                              Chinstrap     0
                              Gentoo        0
                      male    Adelie       22
                              Chinstrap     0
                              Gentoo        0
           Dream      female  Adelie       27
                              Chinstrap     0
                              Gentoo        0
                      male    Adelie       28
                              Chinstrap     0
                              Gentoo        0
           Torgersen  female  Adelie       24
                              Chinstrap     0
                              Gentoo        0
                      male    Adelie       23
                              Chinstrap     0
                              Gentoo        0
Chinstrap  Biscoe     female  Adelie        0
                              Chinstrap     0
                              Gentoo        0
                      male    Adelie        0
                              Chinstrap     0
                              Gentoo        0
           Dream      female  Adelie        0
                              Chinstrap    34
                              Gentoo        0
                      male    Adelie        0
                              Chinstrap    34
                              Gentoo        0
           Torgersen  female  Adelie        0
                              Chinstrap     0
                              Gentoo        0
                      male    Adelie        0
                              Chinstrap     0
                              Gentoo        0
Gentoo     Biscoe     female  Adelie        0
                              Chinstrap     0
                              Gentoo       58
                      male    Adelie        0
                              Chinstrap     0
                              Gentoo       61
           Dream      female  Adelie        0
                              Chinstrap     0
                              Gentoo        0
                      male    Adelie        0
                              Chinstrap     0
                              Gentoo        0
           Torgersen  female  Adelie        0
                              Chinstrap     0
                              Gentoo        0
                      male    Adelie        0
                              Chinstrap     0
                              Gentoo        0
dtype: int64

In [74]:
avg_species_island = penguins.groupby(['species','island'])['body_mass_g'].mean()

In [75]:
avg_species_island

species    island
Adelie     Biscoe       3709.659091
           Dream        3688.392857
           Torgersen    3715.899123
Chinstrap  Biscoe               NaN
           Dream        3733.088235
           Torgersen            NaN
Gentoo     Biscoe       5068.965761
           Dream                NaN
           Torgersen            NaN
Name: body_mass_g, dtype: float64

<h3> TESTING CORRELATION </h3>
<hr>
<h3> Used for testing correlation between two NUMERICAL VALUES </h3><strong>

In [76]:
weight_flipper_cor = penguins['body_mass_g'].corr(penguins['flipper_length_mm'])

In [77]:
weight_flipper_cor

np.float64(0.8712017673060114)

<h1>Numerical - Categorical Correlation Test</h1>
<hr>
<h3>Library - SciPy(Scientific Python)</h3>

In [78]:
from scipy.stats import f_oneway

In [79]:
penguins['sex']

0        male
1      female
2      female
3         NaN
4      female
        ...
339      male
340    female
341      male
342      male
343    female
Name: sex, Length: 344, dtype: object

In [80]:
penguins[penguins['sex'] == 'male']

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,mass_kg
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,Adelie,3.8
5,Adelie,Torgersen,39.3,20.6,190.0,3650.0,male,Adelie,3.6
7,Adelie,Torgersen,39.2,19.6,195.0,4675.0,male,Adelie,4.7
13,Adelie,Torgersen,38.6,21.2,191.0,3800.0,male,Adelie,3.8
14,Adelie,Torgersen,34.6,21.1,198.0,4400.0,male,Adelie,4.4
...,...,...,...,...,...,...,...,...,...
334,Chinstrap,Dream,50.2,18.8,202.0,3800.0,male,Chinstrap,3.8
336,Chinstrap,Dream,51.9,19.5,206.0,3950.0,male,Chinstrap,4.0
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,Chinstrap,4.0
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,Chinstrap,3.8
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,Chinstrap,4.1

In [81]:
penguins[penguins['sex'] == 'male']['body_mass_g']

0      3750.0
5      3650.0
7      4675.0
13     3800.0
14     4400.0
        ...
334    3800.0
336    3950.0
339    4000.0
341    3775.0
342    4100.0
Name: body_mass_g, Length: 168, dtype: float64

In [82]:
penguins[penguins['sex'] == 'female']

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,mass_kg
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,Adelie,3.8
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,Adelie,3.2
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,Adelie,3.4
6,Adelie,Torgersen,38.9,17.8,181.0,3625.0,female,Adelie,3.6
12,Adelie,Torgersen,41.1,17.6,182.0,3200.0,female,Adelie,3.2
...,...,...,...,...,...,...,...,...,...
335,Chinstrap,Dream,45.6,19.4,194.0,3525.0,female,Chinstrap,3.5
337,Chinstrap,Dream,46.8,16.5,189.0,3650.0,female,Chinstrap,3.6
338,Chinstrap,Dream,45.7,17.0,195.0,3650.0,female,Chinstrap,3.6
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,Chinstrap,3.4
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,Chinstrap,3.8

In [83]:
penguins[penguins['sex'] == 'female']['body_mass_g']

1      3800.0
2      3250.0
4      3450.0
6      3625.0
12     3200.0
        ...
335    3525.0
337    3650.0
338    3650.0
340    3400.0
343    3775.0
Name: body_mass_g, Length: 165, dtype: float64

In [84]:
f_oneway(penguins[penguins['sex'] == 'male']['body_mass_g'], penguins[penguins['sex'] == 'female']['body_mass_g'])

F_onewayResult(statistic=np.float64(72.96098633250914), pvalue=np.float64(4.897246751596225e-16))

In [85]:
result, pvalue = f_oneway(penguins[penguins['sex'] == 'male']['body_mass_g'], penguins[penguins['sex'] == 'female']['body_mass_g'])

In [86]:
pvalue

np.float64(4.897246751596225e-16)